[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/stockfish"]
	path = external/stockfish
	url = https://github.com/official-stockfish/Stockfish.git
